* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: black;
  color: white;
}

.navbar {
  background-color: #000;
  padding: 15px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: red;
  text-decoration: none;
}

.hero {
  height: 80vh;
  background-image: url("/hawkins-debug-lab/assets/images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
}

.hero h2 {
  margin-bottom: 10px;
}

.hero p {
  margin-bottom: 20px;
}

.hero button {
  padding: 10px 20px;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
}

section {
  padding: 40px 20px;
}

section h2 {
  text-align: center;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: #111;
  width: 200px;
  padding: 15px;
  text-align: center;
}

.card img {
  width: 100%;
  margin-bottom: 10px;
}

.episode-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.episode {
  background-color: #111;
  padding: 20px;
  text-align: center;
}

#contact-form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#contact-form input,
#contact-form button {
  padding: 10px;
}

footer {
  background-color: #000;
  text-align: center;
  padding: 15px;
}
